<footer class="page-footer font-small pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark">Redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/drislainefaro/" target="_blank" class="icoLinkedIn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.github.com/drifaro" target="_blank" class="icoGitHub">
                            <i class="fab fa-github-alt"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/drifaro" target="_blank" class="icoInstagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/drifaro" target="_blank" class="icoFacebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.twitter.com/_drizoca" target="_blank" class="icoTwitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span  class="text-light"> © 2021 Copyright:  </span>
        <a class="text-light" target="_blank" href="https://brasil.generation.org">brasil.generation.org</a>

    </div>

</footer>