#img-bg{
    background-image: url('https://i.imgur.com/FZlkCa8.png');

    min-height: 930px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
}

.container-fluid{

    background-color: lavender;

}

.ft{
    color: #008b8b;
}